<div>
    <form action="/api/sessions/login" method="post">
        <label for="mail">Mail:</label>
        <input type="email" required="true" name="mail" id="form-mail">
        <label for="password">Password:</label>
        <input type="password" name="password" required="true" id="form-password">
        <input type="submit" name="submit"  id="form-submit">
    </form>
</div>