<div><h1>Ingrese sus datos para registrarse!</h1>
    <form method="post" >
        <label for="name">Nombre:</label>
        <input type="name" required="true" name="name" id="form-name">
        <label for="lastName">Apellido:</label>
        <input type="lastName" name="lastName" required="true"id="form-lastName">
        <label for="mail">Mail:</label>
        <input type="email" required="true" name="mail" id="form-mail">
        <label for="password">Password:</label>
        <input type="password" name="password" required="true"id="form-password">
        <input type="submit" name="submit"  id="form-submit">
    </form>
</div>
